/* TRACKING PAGE */

/* track 1 */

.track1{
    margin-top: 135px;
}

.track1 .main1 {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.track1 .main1 h2{
    font-size: 3rem;
    color: var(--primarycolor--);
    padding-bottom: 20px;
}

.track1 .main1 p{
    text-align: center;
    width: 70%;
    font-size: 1.3rem;
}

/* TRACKING INPUT */
.track2{
    position: relative;
    top: 100px;
    margin-bottom: 150px;
}

.track2 .content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.track2 .content input{
    width: 60%;
    height: 40px;
    margin-left: -30px;
    border: 1px solid var(--primarycolor--);
    text-align: center;
    font-size: 1.3rem;
}

.track2 .content input:hover{
    cursor: text;
}
.track2 .content input:focus{
    outline: none;
}

.track2 .content a{
    margin-left: 10px;
    text-decoration: none;
}

.track2 .content a button{
    height: 40px;
    width: 100px;
    border-radius: 0px 0px 15px 0px;
    background-color: var(--primarycolor--);
    border: transparent;
    color: var(--textcolor--);
    font-weight: 600;
}

/* TRACKING INPUT END*/

/* TRACKING PAGE END */