/*contact head start */
.contact-us{
    margin-top: 135px;
}

.contact-us .contact-main1{
    margin-top: 50px;
}

.contact-us .contact-main1 .contact-main1-txt{
    text-align: center;
}
.contact-us .contact-main1 .contact-main1-txt h3{
    font-size: 2.5rem;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.contact-us .contact-main1 .contact-main1-txt h3 span{
    color: var(--primarycolor--);
}

.contact-us .contact-main1 .contact-main1-txt p{
    font-size: 1.2rem;
    font-weight: lighter;
    width: 60%;
    margin: auto;
    letter-spacing: 1px;
    line-height: 25px;
}

/* contact head end */
/* contact map start */

.contact-us .contact-main1 .contact-map iframe{
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin-top: 20px;
}
/* contact map end */

/* contact page info and form start */
.contact-us .contact-main2{
    margin-bottom: 100px;
}

.contact-us .contact-main2 .info-form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

/* contact info start */
.contact-us .contact-main2 .info-form .contact-info-content{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contact-us .contact-main2 .info-form .contact-info-content .contact-info1{
    margin-bottom: 20px;
}
.contact-us .contact-main2 .info-form .contact-info-content .contact-info1 div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 22px;
    color: var(--primarycolor--);
}

.contact-us .contact-main2 .info-form .contact-info-content .contact-info1 div i{
    margin-right: 10px;
}

.contact-us .contact-main2 .info-form .contact-info-content .contact-info1 p{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}
/* contact info end */ 
/* contact form page start */
.contact-us .contact-main2 .info-form .form{
    width: 90%;
    text-align: center;
}
.contact-us .contact-main2 .info-form .form form .form1 input{
    outline: none;
    width: 100%;
    height: 45px;
    margin-top: 15px;
    border: 1px solid gray;
    text-align: center;
    color: black;
    font-weight: 600;
}

.contact-us .contact-main2 .info-form .form form .form1 #txt{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    text-align: center;
    font-size: 17px;
    color: black;
    font-weight: 600;
    resize: none;
}

/* form submit button start */
.contact-us .contact-main2 .info-form .form form .form1 button{
    width: 60%;
    height: 50px;
    background-color: var(--primarycolor--);
    border: transparent;
    color: white;
    border-radius: 0px 0px 25px 0px;
}
/* form submit button end */
/* contact form page end */
/* contact page info and form end */
