

#service-pg{
    padding-top: 30px;
    margin-top: 125px;
}

.section2{
    margin-top: 50px;
}

.section2 h2{
    width: 375px;
    margin: auto;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    position: relative;
}

/* services boxes */

.section2 .services{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.section2 .services .service-box{
    width: 360px;
    height: 240px;
    border:1px solid var(--primarycolor--);
    margin-top: 10px;
    color: var(--secondarycolor--);
    border-radius: 0px 0px 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    padding: 5px;
    position: relative;
}

.section2 .services .service-box .box-content{
    position: absolute;
    border: 1px solid transparent;
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 25px 0px;
}


.section2 .services .service-box .box-content h2{
    color: var(--secondarycolor--);
    padding-bottom: 10px;
    font-weight: 500;
    transition: 0.5s ease;
}

.section2 .services .service-box .box-content p{
    width: 90%;
    margin: auto;

}


.section2 .services .service-box .first .learn-more{
    margin-top: 20px;
}

.section2 .services .service-box .third .learn-more {
    margin-top: 20px;
    transition: 0.5s ease;
}

.section2 .services .service-box .box-content .learn-more a{
    color: var(--secondary--);
    font-weight: 600;
    text-decoration: none;
    margin-left: 30px;
    display: flex;
    align-items: center;
    transition: 0.5s ease;
}

.section2 .services .service-box .box-content .learn-more a i {
    color: var(--secondary--);
    margin-left: 5px;
}

.section2 .services .service-box .box-content:hover :is(.color-change, a, i) {
    color: var(--primarycolor--);
}

.section2 .services .service-box .box-content{
    pointer-events: none;
}

/* We also offer */

.section2 .sub-services{
    margin-top: 30px;
}

.section2 .sub-services .sub-service-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.section2 .sub-services .sub-service-main .sub-service-box{
    position: relative;
    width: 350px;
    height: 450px;
    border: 1px solid transparent;
    margin-right: 10px;
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section2 .sub-services .sub-service-main .sub-service-box:hover :is(h3){
    color: var(--primarycolor--);
}

.section2 .sub-services .sub-service-main .sub-service-box img{
    width: 100%;
}

.section2 .sub-services .sub-service-main .sub-service-box .content h3{
    letter-spacing: 1px;
}

.section2 .sub-services .sub-service-main .sub-service-box .content p{
    letter-spacing: 1px;
    line-height: 20px;
    pointer-events: none;
    padding-right: 10px;
    padding-left: 10px;
}